body {
  font-family: 'Open Sans', sans-serif;
  /* white-space: normal; */
}

a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

header h2 {
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo-wrapper {
  width: 200px;
  margin: 0 0 0 auto;
}

.photo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:650px) {
  .photo-wrapper {
    display: none;
  }
}

@media screen and (max-width:320px) {
  .wrapper {
    padding: 5px;
  }
}